<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true"
         bootstrap="vendor/autoload.php"
>
    <testsuites>
        <testsuite name="Flexible Mink Parallel Runner Tests">
            <directory suffix=".php">./tests/Behat/ParallelWorker</directory>
        </testsuite>
        <testsuite name="Flexible Mink Context Tests">
            <directory suffix=".php">./tests/Behat/DefaultMocks</directory>
            <directory suffix=".php">./tests/Behat/FlexibleMink/Context</directory>
        </testsuite>
    </testsuites>
</phpunit>
